* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container1 {
    height:200vh;
    background-color: rgb(103, 211, 175);
}

.container2 {
    height:100vh;
    background-color: darkgrey;
}