* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
}
.one, 
.two,
.three,
.four {
    height: 100vh;
}

.one {
    background-color: pink;
}
.two {
    background-color: brown;
}
.three {
    background-color: lightblue;
}
.four {
    background-color: lightseagreen;
}